<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title> Database </title>
    </head>
    <body>
        <table>
                {% for elem in articles %}
                <tr>
                    <td>{{ elem.ident }} </td>
                    <td>{{ elem.old_url }} </td>
                    <td>{{ elem.new_url }} </td>
                </tr>
                {% endfor %}
        </table>
    </body>
</html>